.teamStats {
  padding-top: 1.3em;

  .statsCard {
    overflow-x: scroll;
  }
}

.item {
  width: 25%;
  border: 1px solid #d6d6d6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;

  :hover {
  }

  .active {
    background: #fff;
  }
}

table {
  th {
    text-align: center;

    @media screen and (max-width: 420px) {
      font-size: 3vw;
    }
  }

  .value {
    font-weight: normal;
  }
}
