.schedule {
  margin-top: 3em;
  color: #fff;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.gameDate {
  padding: 0 10px;
}

.pageDate {
  cursor: pointer;
  text-align: center;
}
