.navigation {
  background-color: #242424;
  border-bottom: 1px solid #000;

  .navbar-dark .navbar-nav .nav-link,
  .nav-link:hover,
  .navbar-toggler-icon,
  .navbar a a.navbar-brand {
    color: #fff;
  }

  .navbar-nav a:hover {
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
}
