.teamItem {
  display: grid;
  grid-template-columns: minmax(1.8rem, 1fr) 3fr 1fr;
  margin-bottom: 1rem;

  div {
    text-align: center;
  }

  .teamName {
    text-align: left;
    line-height: 3rem;
  }

  .teamScore {
    line-height: 3rem;
  }

  .score {
    line-height: 5;
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 420px) {
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 420px) {
    font-size: 0.7rem;
  }
}

.nopadding {
  padding: 0;
  margin: 0;
}
