.teamItem {
  margin-bottom: 1rem;

  div {
    text-align: center;
  }

  .teamLogo {
    flex: 1;
  }

  .teamName {
    flex: 2;
    text-align: left;
    line-height: 3rem;
  }

  .teamScore {
    flex: 1;
    line-height: 3rem;
  }

  .score {
    line-height: 5;
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 420px) {
      font-size: 3vw;
    }
  }

  @media screen and (max-width: 420px) {
    font-size: 3vw;
  }
}

.nopadding {
  padding: 0;
  margin: 0;
}
