name: Build and Deploy Master

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Web
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [10, 12]

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@master
        with:
          version: ${{ matrix.node_version }}

      - name: Build
        run: |
          yarn install
          cd web && yarn build
  deploy:
    name: Deploy to development
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        env:
          AWS_S3_BUCKET: ${{ AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ AWS_SECRET_ACCESS_KEY }}
        run: |
          echo $AWS_S3_BUCKET $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY
