name: Build and Deploy Master

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Web
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [10, 12]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          version: ${{ matrix.node_version }}

      - name: Build
        run: |
          yarn install
          cd web && yarn build
