name: Build and Deploy Development

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Build and Deploy development
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [10]

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node_version }}

      - name: Build
        run: |
          npm install
          PUBLIC_URL=https://development.rickyg.io REACT_APP_API_URL=https://nba.rickyg.io/dev npm run build
      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: aws s3 sync --acl public-read --delete ./build s3://nba-dev-frontend
